*.obj
*.idb
*.pdb
*.sdf
CPPRefresher/CPPRefresher/Debug/CPPRefresher.Build.CppClean.log
CPPRefresher/CPPRefresher/Debug/CPPRefresher.log
CPPRefresher/CPPRefresher/Debug/CPPRefresher.tlog/CL.read.1.tlog
CPPRefresher/CPPRefresher/Debug/CPPRefresher.tlog/CL.write.1.tlog
CPPRefresher/CPPRefresher/Debug/CPPRefresher.tlog/CPPRefresher.lastbuildstate
CPPRefresher/CPPRefresher/Debug/CPPRefresher.tlog/cl.command.1.tlog
CPPRefresher/CPPRefresher/Debug/CPPRefresher.tlog/link.command.1.tlog
CPPRefresher/CPPRefresher/Debug/CPPRefresher.tlog/link.read.1.tlog
CPPRefresher/CPPRefresher/Debug/CPPRefresher.tlog/link.write.1.tlog
Game/Bin/Engine-Debug.exe
Game/Bin/Engine-Debug.ilk
Game/Engine/Debug/Engine-Debug.pch
Game/Engine/Debug/Engine.log
Game/Engine/Debug/Engine.res
Game/Engine/Debug/Engine.tlog/CL.read.1.tlog
Game/Engine/Debug/Engine.tlog/CL.write.1.tlog
Game/Engine/Debug/Engine.tlog/Engine.lastbuildstate
Game/Engine/Debug/Engine.tlog/Engine.write.1u.tlog
Game/Engine/Debug/Engine.tlog/cl.command.1.tlog
Game/Engine/Debug/Engine.tlog/link.command.1.tlog
Game/Engine/Debug/Engine.tlog/link.read.1.tlog
Game/Engine/Debug/Engine.tlog/link.write.1.tlog
Game/Engine/Debug/Engine.tlog/rc.command.1.tlog
Game/Engine/Debug/Engine.tlog/rc.read.1.tlog
Game/Engine/Debug/Engine.tlog/rc.write.1.tlog
Game/ITP485.opensdf
Game/ITP485.sdf
Game/ITP485.v12.suo
Game/ipch/engine-179f0a6/engine-debug-529cb556.ipch

Game/Engine/unittest/Debug/
Game/Engine/unittest/Release/
Game/ipch/
